<form>
    <div class="mb-3">
        <label for="authorFirstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="authorFirstName">
    </div>
    <div class="mb-3">
        <label for="authorLastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="authorLastName">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>